{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/login_page.css'%}">
    <title>НеВК</title>
</head>
<body>

    <form>
        <div class="container">
            <div class="header">
                <img src="{%static 'images/Diod_white.png'%}" alt="logo"/>
                <h1>DIOD</h1>
            </div>
            <br>
            <h2>Register</h2>
            <p>Please fill in this form to create an account.</p>

            <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            <hr>

            <button type="submit" class="registerbtn">Register</button>

        </div>
    </form>
</body>
</html>